:host {

    #in-reset-password{
        background: url("../../../assets/sia/images/banners/banner_bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        width: 100%;
        background-color: transparent;
        position: relative;
        display: table;
    }
    #in-reset-password .contents{
        width: 72.3%;
        margin: 100px;
    }
    #in-reset-password .login-left{
        max-width: 561px !important;
    }
    #in-reset-password .login-right{
        max-width: 561px !important;
    }
    #in-reset-password .login-right img{
        border-radius: 0px 5px 5px 0px;
    }

    #in-reset-password .left-contents{
        width: 100%;
        padding: 0px;
        border: 1px solid #e4e4e4;
        border-radius: 5px 0px 0px 5px;
        background: #fff;
        margin: 0px;
        height: 100%;
    }

    #in-reset-password .left-contents h1 {
        color: #000;
        font-size: 48px;
        margin: 10px 0px 10px 0px;
    }
    #in-reset-password .left-contents .content-items{
        margin: 0 20px;
    }
    #in-reset-password .left-contents .abtxt {
        color: #000;
        background: #fff;
        border: 1px solid #00010126;
        font-size: 23px;
        border-radius: 5px;
        height: 50px;
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    #in-reset-password .left-contents .abtxt::placeholder {
        color: #1c3458;
        opacity: 1;
        font-size: 13px;
    }

    #in-reset-password .btn-mcolor-green {
        background: #8ac239;
        color: #fff;
        font-size: 16px;
        padding: 5px 20px 5px 20px;
        margin: 10px 0px 10px 10px;
    }
    #in-reset-password .width-full {
        width: 100%;
        margin: 20px 0px 20px 0px;
    }
    #in-reset-password .login-div {
        text-align: right;
    }
    #in-reset-password .login-div a{
        color: #1c3458;
        font-size: 15px;
    }
    #in-reset-password .login-div h5{
        color: #1c3458;
        font-size: 15px;
        margin: 10px 0px;
    }
    #in-reset-password .left-contents .abtxt.is-invalid {
        border-color: red;
    }
    #in-reset-password .left-contents .content-items .invalid-feedback {
        color: red;
    }
    mat-spinner {
        margin: 0 auto;
    }
}