<div class="page-layout simple">

  <div id="in-title" fxLayout="column" fxLayoutAlign="center center">
      <div class="big-title" fxLayout="column" fxLayout.gt-md="row">
          <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
              <h1>Medication List</h1>
          </div>
      </div>
  </div>
  <div id="in-medication" fxLayout="column" fxLayoutAlign="center center">
      <div class="contents" fxLayout="column" fxLayoutAlign="center left">
            <form [formGroup]="medicationForm">
                <div formArrayName="medications">
                    <div *ngFor="let item of medicationData.controls; let pointIndex=index" [formGroupName]="pointIndex" fxLayout="column" fxLayout.gt-md="row" [ngClass]="{'customFieldset':isSmallScreen}">
                            <mat-icon *ngIf="isSmallScreen && pointIndex > 0" class="clear_align" (click)="removeItem(pointIndex)">clear</mat-icon>
                        <div class="content-items" fxFlex="31" fxFlex.gt-xs="31" fxFlex.gt-sm="31">
                            <p *ngIf="isVisible(pointIndex)">Medication Name</p>
                            <input formControlName="name" class="abtxt" type="text"  placeholder="Enter text" [ngClass]="{ 'is-invalid': submitted && item.controls.name.errors}"/>
                            <div *ngIf="submitted && item.controls.name.errors" class="invalid-feedback">
                                <div *ngIf="item.controls.name.errors.required">Required</div>
                            </div>
                        </div>
                        <div class="content-items" fxFlex="24" fxFlex.gt-xs="24" fxFlex.gt-sm="24">
                            <p *ngIf="isVisible(pointIndex)">Dose</p>
                            <input formControlName="dose" class="abtxt" type="text" placeholder="Enter text" [ngClass]="{ 'is-invalid': submitted && item.controls.dose.errors}"/>
                            <div *ngIf="submitted && item.controls.dose.errors" class="invalid-feedback">
                                <div *ngIf="item.controls.dose.errors.required">Required</div>
                            </div>
                        </div>
                        <div class="content-items" fxFlex="20" fxFlex.gt-xs="20" fxFlex.gt-sm="20">
                            <p *ngIf="isVisible(pointIndex)">Frequency</p>
                            <input formControlName="frequency" class="abtxt" type="text" placeholder="Enter text" [ngClass]="{ 'is-invalid': submitted && item.controls.frequency.errors}"/>
                            <div *ngIf="submitted && item.controls.frequency.errors" class="invalid-feedback">
                                <div *ngIf="item.controls.frequency.errors.required">Required</div>
                            </div>
                        </div>
                        <div class="content-items" fxFlex="24" fxFlex.gt-xs="24" fxFlex.gt-sm="24">
                            <p *ngIf="isVisible(pointIndex)">Prescribing Physician</p>
                            <input formControlName="physician" class="abtxt" type="text" placeholder="Enter text" [ngClass]="{ 'is-invalid': submitted && item.controls.physician.errors}"/>
                            <div *ngIf="submitted && item.controls.physician.errors" class="invalid-feedback">
                                <div *ngIf="item.controls.physician.errors.required">Required</div>
                            </div>
                        </div>
                        <div class="content-items" fxFlex="1" fxFlex.gt-xs="1" fxFlex.gt-sm="1" fxLayoutAlign="center center">
                            <mat-icon class="clear-row" [ngClass]="{'none': pointIndex == 0}" (click)="removeItem(pointIndex)">clear</mat-icon>
                        </div>
                    </div>
                </div>
            </form>
            <div fxLayout="column" fxLayout.gt-md="row"  fxLayoutAlign="center center">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                    <button [disabled]="noKnownMedications" (click)="addMore()" mat-raised-button class="btn-mcolor-green btn-addmore">ADD MORE</button>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <mat-checkbox class="chk-know" [(ngModel)]="noKnownMedications" (change)="clearFields()">NO KNOWN MEDICATIONS</mat-checkbox>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row"  fxLayoutAlign="center center">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                    <button mat-raised-button *ngIf="!loader" class="btn-mcolor-green width-full" (click)="documentMedicationList()">DOCUMENT MEDICATION LIST</button>
                    <button mat-raised-button *ngIf="loader" class="btn-mcolor-green width-full">
                        <mat-spinner strokeWidth="3" [diameter]="36"></mat-spinner>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
