<div class="page-layout simple">

    <div id="in-title" fxLayout="column" fxLayoutAlign="center center">
        <div class="big-title" fxLayout="column" fxLayout.gt-md="row">
            <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                <h1>Allergies</h1>
            </div>
        </div>
    </div>
    <div id="in-allergy" fxLayout="column" fxLayoutAlign="center center">
        <div class="contents" fxLayout="column" fxLayoutAlign="center left">
            <form [formGroup]="allergyForm">
                <div formArrayName="allergies">
                    <div *ngFor="let item of allergyData.controls; let pointIndex=index" [formGroupName]="pointIndex" fxLayout="column" fxLayout.gt-md="row" [ngClass]="{'customFieldset':isSmallScreen}">
                        <mat-icon *ngIf="isSmallScreen && pointIndex > 0" class="clear_align" (click)="removeItem(pointIndex)">clear</mat-icon>
                        <div class="content-items" fxFlex="31" fxFlex.gt-xs="31" fxFlex.gt-sm="31">
                            <p *ngIf="isVisible(pointIndex)">Substance</p>
                            <input formControlName="substance" class="abtxt" type="text"  placeholder="Enter text" [ngClass]="{ 'is-invalid': submitted && item.controls.substance.errors}"/>
                            <div *ngIf="submitted && item.controls.substance.errors" class="invalid-feedback">
                                <div *ngIf="item.controls.substance.errors.required">Required</div>
                            </div>
                        </div>
                        <div class="content-items" fxFlex="24" fxFlex.gt-xs="24" fxFlex.gt-sm="24">
                            <p *ngIf="isVisible(pointIndex)">Category</p>
                            <select required class="abtxt" name="one" formControlName="category" [ngClass]="{ 'is-invalid': submitted && item.controls.category.errors}">
                                <option value="" disabled selected hidden >Select</option>
                                <option *ngFor="let cat of categories" [ngValue]="cat.name">{{cat.name}}
                            </select>
                            <div *ngIf="submitted && item.controls.category.errors" class="invalid-feedback">
                                <div *ngIf="item.controls.category.errors.required">Required</div>
                            </div>
                        </div>
                        <div class="content-items" fxFlex="20" fxFlex.gt-xs="20" fxFlex.gt-sm="20">
                            <p *ngIf="isVisible(pointIndex)">Severity</p>
                            <select  class="abtxt" name="one" formControlName="severity" [ngClass]="{ 'is-invalid': submitted && item.controls.severity.errors}">
                                <option value="" disabled="disabled" >Select</option>
                                <option *ngFor="let severity of severities" [ngValue]="severity.description">{{severity.description}}
                            </select>
                            <div *ngIf="submitted && item.controls.severity.errors" class="invalid-feedback">
                                <div *ngIf="item.controls.severity.errors.required">Required</div>
                            </div>
                        </div>
                        <div class="content-items" fxFlex="24" fxFlex.gt-xs="24" fxFlex.gt-sm="24">
                            <p *ngIf="isVisible(pointIndex)">Reactions</p>
                            <input formControlName="reactions" class="abtxt" type="text" placeholder="Enter text" [ngClass]="{ 'is-invalid': submitted && item.controls.reactions.errors}"/>
                            <div *ngIf="submitted && item.controls.reactions.errors" class="invalid-feedback">
                                <div *ngIf="item.controls.reactions.errors.required">Required</div>
                            </div>
                        </div>
                        <div class="content-items" fxFlex="1" fxFlex.gt-xs="1" fxFlex.gt-sm="1" fxLayoutAlign="center center">
                            <mat-icon class="clear-row" [ngClass]="{'none': pointIndex == 0}" (click)="removeItem(pointIndex)">clear</mat-icon>
                        </div>
                    </div>
                </div>
            </form>
            <div fxLayout="column" fxLayout.gt-md="row"  fxLayoutAlign="center center">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                    <button mat-raised-button [disabled]="noKnownAllergies" (click)="addMore()" class="btn-mcolor-green btn-addmore">ADD MORE</button>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <mat-checkbox class="chk-know" [(ngModel)]="noKnownAllergies" (change)="clearFields()" >NO KNOWN ALLERGIES</mat-checkbox>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row"  fxLayoutAlign="center center">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                    <button mat-raised-button *ngIf="!loader" class="btn-mcolor-green width-full" (click)="documentAllergies()">DOCUMENT ALLERGIES</button>
                    <button mat-raised-button *ngIf="loader" class="btn-mcolor-green width-full">
                        <mat-spinner strokeWidth="3" [diameter]="36"></mat-spinner>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>
