:host {
    ::ng-deep .ngx-charts { text { fill: #3bcd9c !important; } }
    #in-title {
        background: url("../../../assets/sia/images/banners/banner_bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;

        width: 100%;
        background-color: transparent;
        position: relative;
        display: table;
    }
    #in-title .big-title{
        margin: 55px;
    }
    #in-title .big-title h1{
        font-size: 72px;
        margin:0px;
        padding:0px;
        color: #fff;
    }
     #in-myaccount{
        background: #f4f5f7;
        padding: 60px 0px 80px 0px;
    }

     #in-myaccount .contents{
        width: 68%;
        padding: 40px;
        border: 1px solid #e4e4e4;
        border-radius: 5px;
        background: #fff;
    }
     #in-myaccount .contents .mat-grid{
        width: 100%;
        border: 1px solid #e4e4e4;
        border-radius: 5px;
        background: #dfe5e7;
    }
     #in-myaccount .contents .mat-grid h1{
        color: #000;
        font-size: 24px;
        font-weight: bold;
        width: 100%;
        margin: 40px;
    }
     #in-myaccount .contents .mat-grid .mat-grid-chart-row {
        width: 100%;
    }
     #in-myaccount .contents .mat-grid-chart-row-left{
        max-width: 40% !important;
        padding: 50px !important;
    }
     

     #in-myaccount .contents .mat-grid-chart-row-right-button{
        width: 100%;
        text-align: right;
    }
     #in-myaccount .contents .mat-grid-chart-row-right-button .button-item{
        width: 100%;
        padding: 20px;
        padding: 5px 30px;
    }
     #in-myaccount .contents .mat-grid-chart-row-right-button .button-item button{
        width: 80%;
        height: 45px;
        font-size: 16px;
    }

     #in-myaccount .btn-mcolor-green {
        background: #8ac239;
        color: #fff;
    }
     #in-myaccount .btn-mcolor-cray {
        background: #00b0e0;
        color: #fff;
    }
     #in-myaccount .btn-mcolor-blue {
        background: #38b6a1;
        color: #fff;
    }
     #in-myaccount .btn-mcolor-graydark {
        background: #424e5b;
        color: #fff;
    }
     #in-myaccount .contents .table-title{
        margin: 50px 0px 0px 0px;
    }
     #in-myaccount .contents .table-title h1{
        color: #000;
        font-size: 24px;
        font-weight: bold;
        margin: 0px;
    }
     #in-myaccount .contents .table-title .right{
        text-align: right;
        display: flex;
    }
     #in-myaccount .contents .table-title a{
        color: #8ac239;
        font-size: 16px;
        font-weight: bold;
        margin: 5px 0px;
        width: 100%;
        text-align: right;
    }

     #in-myaccount .contents .table-type1{
        border: 1px solid #CCCCCC;
        border-radius: 6px 6px 6px 6px;
        -moz-border-radius: 6px 6px 6px 6px;
        -webkit-border-radius: 6px 6px 6px 6px;
        box-shadow: 0 1px 1px #CCCCCC;
        border-spacing: 0;
        margin: 20px 0px;
    }
     #in-myaccount .contents .table-type1 th:first-child {
        border-radius: 6px 0 0 0;
        -moz-border-radius: 6px 0 0 0;
        -webkit-border-radius: 6px 0 0 0;
    }
     #in-myaccount .contents .table-type1 th:last-child {
        border-radius: 0 6px 0 0;
        -moz-border-radius: 0 6px 0 0;
        -webkit-border-radius: 0 6px 0 0;
    }
     #in-myaccount .contents .table-type1 td:first-child, .bordered th:first-child {
        border-left: medium none;
    }

     #in-myaccount .contents .table-type1 th {
        background-color: #424e5b;
        background-image: -moz-linear-gradient(center top , #424e5b, #424e5b);
        background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#424e5b), to(#424e5b), color-stop(.4, #424e5b));
        border-top: medium none;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        padding: 20px;
        text-align: left;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }

     #in-myaccount .contents .table-type1 td {
        border-left: 1px solid #CCCCCC;
        border-top: 1px solid #CCCCCC;
        padding: 20px;
    }

     #in-myaccount .contents .table-type1 .left{
        text-align: left;
    }
     #in-myaccount .contents .table-type1 .center{
        text-align: center;
    }
     #in-myaccount .contents .table-type1 .description{
        font-size: 18px;
        font-weight: 500;
        color: #07bde5;
    }
     #in-myaccount .contents .table-type1 .download-href{
        font-size: 18px;
        color: #1cb0e3;
        font-family: "ProximaNovaSoft-Regular";
        margin: 0px 10px;
    }
     #in-myaccount .contents .table-type1 .data-source{
        font-size: 17px;
        color: #171717;
    }
     #in-myaccount .contents .table-type1 .date{
        font-size: 14px;
        color: #4d4d4d;
    }
     #in-myaccount .contents .table-type1 .download{
        font-size: 16px;
        color: #ffffff;
    }
     #in-myaccount .contents .table-type1 .download button{
        width: 80%;
        padding: 5px;
    }

     #in-myaccount .contents .table-type1 .even{
        background: #f6fbff;
    }
     #in-myaccount .contents .table-type1 .odd{
        background: #fff;
    }
    
     #in-myaccount .col-footer-left {
        border: 1px solid #e4e4e4;
        border-radius: 5px;
        margin: 0px 10px 0px 0px;
        background: #f6fbff;
    }  
     #in-myaccount .col-footer-left .left-content{
        width: 100%;
    }
     #in-myaccount .col-footer-left .left-content .highlight:hover {
        background-color: #0000000a;
        cursor: pointer;
    }
     #in-myaccount .col-footer-left .left-content .first-row{
        border-bottom: 1px solid #e4e4e4;
        height: 86px;
    }
     #in-myaccount .col-footer-left .left-content .left-content-btna {
        padding: 20px;
    }
     #in-myaccount .col-footer-left .left-content .left-content-btna button{
        width: 100%;
    }
     #in-myaccount .col-footer-left .right-h2 {
        font-size: 18px;
        color: #000;
        margin: 10px 20px;
    }
     #in-myaccount .col-footer-left .right-date{
        font-size: 15px;
        color: #4d4d4d;
        font-weight: bold;
        margin: 10px 0px;
    }
    #in-myaccount .col-footer-left .right-date.send {
        color: #c24239;
    }
    #in-myaccount .col-footer-left .right-date.received {
        color: #8ac239;
    }
    #in-myaccount .col-footer-left .lef-panel-content{
        font-size: 15px;
        color: #4d4d4d;
        font-weight: bold;
        margin: 10px 0px;
    }
    #in-myaccount .col-footer-left .lef-panel-content.first-item {
        margin: 10px 20px;
    }
    #in-myaccount .col-footer-left .lef-panel-content.word-break{
        max-width: 95%;
        word-break: break-word;
    }
    #in-myaccount .col-footer-left .lef-panel-content.last-item {
        margin-right: 20px;
    }
     #in-myaccount .contents .table-body {
        width: 100%;
        margin: 10px 0px 0px 0px;
    }
     #in-myaccount .contents .table-body .content-items {
        width: 100%;
    }
     #in-myaccount .contents .bandwidth-label{
        position: absolute;
        margin-top: 155px;
        margin-left: -7px;
        color: #3bcd9c;
        font-size: 12px;
        font-weight: normal;
    }
     #in-myaccount .contents .table-body .content-items .no-record-text{
        text-align: center;
        font-size: 15px;
        color: #424e5b;
    }
     #in-myaccount .col-footer-left .first-row .title{
        width:100%; padding: 0px 20px;
    }
     #in-myaccount .col-footer-left .first-row .title h1{
        font-size: 27px
    }
     #in-myaccount .col-footer-left .first-row .img{
        width:100%; text-align: right; padding: 20px;
    }
     #in-myaccount .col-footer-left .sth-btn{
        width: 100%; padding: 20px;
    }
     #in-myaccount .col-footer-left .sth-content{
        font-size: 16px;
    }
     #in-myaccount .col-footer-left .fourth-title{
        margin: 48px;
    }
     #in-myaccount .col-footer-left .third-btn1{
        margin-right: 10px;
    }
     #in-myaccount .col-footer-left .third-btn2{
        margin: 0px 5px;
    }
     #in-myaccount .col-footer-left .third-btn3{
        margin-left: 10px;
    }
    #in-myaccount .col-footer-left .panel-header {
        font-size: 15px; 
        color: #171717; 
        font-weight: bold;
    }
    #in-myaccount .col-footer-left .panel-header.first-heading {
        padding: 0px 20px;
    }
    #in-myaccount .col-footer-left .panel-header.last-heading {
        padding-right: 20px;
    }
     #in-myaccount .last-less-1280 .right-panel-left{
        max-width: 75%;
    }
     #in-myaccount .last-less-1280 .right-panel-right{
        max-width: 25%;
    }
    @media (min-width: 768px){
         #in-myaccount .last-less-1280 .right-panel-left{
            max-width: 75% !important;
        }
         #in-myaccount .last-less-1280 .right-panel-right{
            max-width: 25% !important;
        }
        #in-myaccount .contents .bandwidth-label{
            margin-top: 155px;
        }
    }
    @media (min-width: 550px) and (max-width: 768px){
         #in-myaccount .col-footer-left .sth-btn{
            padding: 10px;
        }
         #in-myaccount .col-footer-left .sth-btn button{
            font-size: 9.71px;
            min-width: 80px;
            padding: 0px 10px;
        }
         #in-myaccount .col-footer-left .left-content .left-content-btna {
            padding: 20px 10px;
        }
         #in-myaccount .col-footer-left .left-content .left-content-btna button{
            width: 100%;
            min-width: 80px;
            font-size: 10.42px;
            padding: 0px 5px;
        }
         #in-myaccount .col-footer-left .right-h2 {
            font-size: 13px;
            margin: 10px 0px 10px 20px;
        }
        #in-myaccount .col-footer-left .lef-panel-content.first-item {
            font-size: 13px;
            margin: 10px 0px 10px 20px;
        }
        #in-myaccount .col-footer-left .lef-panel-content.last-item {
            font-size: 13px;
            margin-right: 20px;
        }
         #in-myaccount .col-footer-left .right-date{
            font-size: 13px;
            margin: 10px 0px;
        }
        #in-myaccount .col-footer-left .lef-panel-content{
            font-size: 13px;
            margin: 10px 0px;
        }
        #in-myaccount .col-footer-left .lef-panel-content.word-break {
            font-size: 13px;
            margin: 10px 0px;
            word-break: break-word;
        }
        #in-myaccount .col-footer-left .lef-panel-content.last-item {
            font-size: 13px;
            margin: 10px 0px;
        }
         #in-myaccount .last-less-1280 .right-panel-left{
            max-width: 70% !important;
        }
         #in-myaccount .last-less-1280 .right-panel-right{
            max-width: 30% !important;
        }
         #in-myaccount .col-footer-left .first-row .title h1{
            font-size: 18px;
        }
        #in-myaccount .contents .bandwidth-label{
            margin-top: 155px;
        }
    }
    @media (min-width: 550px){
        #in-title .big-title{
            margin: 55px;
        }
        #in-title .big-title h1{
            font-size: 72px;
        }
         #in-myaccount .contents .mat-grid-chart-row-left-small{
            max-width: 70% !important;
            max-height: 500px !important;
            padding: 20px !important;
        }
        #in-myaccount .contents .bandwidth-label{
            margin-top: 155px;
        }   
    }
    @media (max-width: 550px){
        #in-title .big-title{
            margin: 32px 0px;
        }
        #in-title .big-title h1{
            font-size: 42px;
        }
         #in-myaccount .contents {
            width: 90%;
            padding: 20px 0px;
        }
         #in-myaccount .contents .table-title{
            margin: 20px auto;
            width: 90%;
        }
         #in-myaccount .contents .table-title .right{
            display: none !important;
        }

         #in-myaccount .contents .table-body {
            width: 90%;
            margin: 10px auto;
        }
         #in-myaccount .col-footer-left .first-row .title h1{
            font-size: 15.48px;
        }

         #in-myaccount .last-less-1280{
            width: 90%;
            margin: auto;
        }
         #in-myaccount .last-less-1280 .right-panel{
            margin: 30px 0px;
        }
         #in-myaccount .col-footer-left .sth-btn{
            padding: 10px;
        }
         #in-myaccount .col-footer-left .sth-btn button{
            font-size: 9.71px;
            min-width: 80px;
            padding: 0px 10px;
        }
         #in-myaccount .col-footer-left .sth-content{
            font-size: 10.37px;
        }
         #in-myaccount .col-footer-left .fourth-title{
            margin: 20px 10px;
            font-size: 12.95px !important;
        }
         #in-myaccount .col-footer-left .left-content .left-content-btna {
            padding: 20px 10px;
        }
         #in-myaccount .col-footer-left .left-content .left-content-btna button{
            width: 100%;
            min-width: 70px;
            font-size: 8.42px;
        }
         #in-myaccount .last-less-1280 .right-panel-left{
            max-width: 70% !important;
        }
         #in-myaccount .last-less-1280 .right-panel-right{
            max-width: 30% !important;
        }
         #in-myaccount .col-footer-left .right-h2 {
            font-size: 10px;
            margin: 10px 0px 10px 20px;
        }
        #in-myaccount .col-footer-left .lef-panel-content.first-item{
            font-size: 10px;
            margin: 10px 0px 10px 20px;
        }
        #in-myaccount .col-footer-left .lef-panel-content.last-item {
            font-size: 13px;
            margin-right: 20px;
        }
         #in-myaccount .col-footer-left .right-date {
            font-size: 10px;
            margin: 10px 0px;
        }
        #in-myaccount .col-footer-left .lef-panel-content{
            font-size: 10px;
            margin: 10px 0px;
        }
        #in-myaccount .col-footer-left .lef-panel-content.word-break {
            font-size: 10px;
            margin: 10px 0px;
            word-break: break-word;
        }
        #in-myaccount .col-footer-left .lef-panel-content.last-item{
            font-size: 10px;
            margin: 10px 0px;
        }
        
        #in-myaccount .contents .mat-grid-chart-row-left-small{
            max-height: 300px !important;
            padding: 10px !important;
        }
        #in-myaccount .contents .bandwidth-label{
            margin-top: 155px;
        }
    }
     #in-myaccount .wallet-large-1280{
        display: flex;
    }
     #in-myaccount .wallet-less-1280{
        display: none;
        width: 90%;
        margin: auto;
    }
     #in-myaccount .wallet-less-1280 .wallet-less-btn{
        width: 100%;
    }
     #in-myaccount .contents .wallet-less-1280 .button-item{
        width: 100%;
        padding: 5px 30px;
    }
     #in-myaccount .contents .wallet-less-1280 .button-item button{
        width: 100%;
        height: 45px;
        font-size: 16px;
    }
     #in-myaccount .contents .less-logo-img{
        border-top: 1px solid #e4e4e4;
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        border-radius: 5px 5px 0px 0px;
        padding: 20px 0px;
    }
     #in-myaccount .contents .less-user-wallet{
        border: 1px solid #e4e4e4;
        background: #fafafb;
    }
     #in-myaccount .contents .less-user-chart{
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
    }
     #in-myaccount .contents .less-btn1{
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
    }
     #in-myaccount .contents .less-btn2{
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
    }
     #in-myaccount .contents .less-btn3{
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
    }
     #in-myaccount .contents .less-btn4{
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        border-radius: 0px 0px 5px 5px;
        padding-bottom: 20px;
    }

    @media (min-width: 1280px){
         #in-myaccount .wallet-large-1280{
            display: flex !important;
        }
         #in-myaccount .wallet-less-1280{
            display: none !important;
        }
         #in-myaccount .last-large-1280{
            display: flex !important;
        }
         #in-myaccount .last-less-1280{
            display: none !important;
        }
    }
    @media (max-width: 1279px){
         #in-myaccount .wallet-large-1280{
            display: none !important;
        }
         #in-myaccount .wallet-less-1280{
            display: flex !important;
        }
         #in-myaccount .last-large-1280{
            display: none !important;
        }
         #in-myaccount .last-less-1280{
            display: flex !important;
        }
         #in-myaccount .last-less-1280 .content-items{
            width: 100%;
        }
         #in-myaccount .last-less-1280 .content-items .col-footer-left{
            margin: 0px;
        }
        #in-myaccount .contents .bandwidth-label{
            margin-top: 150px;
        }
    }

    @media (min-width: 820px){
         #in-myaccount .contents .table-title .right{
            display: flex !important;
        }
         #in-myaccount .table1-large-820{
            display: flex !important;
        }
         #in-myaccount .table1-less-820{
            display: none !important;
        }
    }
    @media (max-width: 820px){
         #in-myaccount .contents .table-title .right{
            display: none !important;
        }
         #in-myaccount .table1-large-820{
            display: none !important;
        }
         #in-myaccount .table1-less-820{
            display: flex !important;
        }
        #in-myaccount .contents .bandwidth-label{
            margin-top: 133px;
        }
    }
    mat-spinner {
        
        margin: 2px auto;
    }
}