<div class="pDiv">

  <!-- Redirecting from signup  -->
  <div class="centered-button" *ngIf="notVerified">
    <p class="navigation-back">
      A verification link has been sent to {{verificationEmail}}. <br>
      Please check your email and follow the verification link in order to access your new Health Port account.
    </p>
    <span class="resend-link">Email not received&#x3f; <a (click)="resendVerificationCode()">Resend</a></span>

  </div>

  <!-- Redirecting from email link in case of correct token -->
  <div class="success-div" *ngIf="noError">
    <svg class="small-ticks" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
      <circle class="path" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
      <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
        stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
    </svg>
    <p class="success">Your account has been verified successfully</p>
    <p class="navigation-back">
        <small >Navigating you back to login page ... </small>
    </p>
  </div>

  <!-- Error | Account already exists  -->
  <div class="error-div" *ngIf="errorOccurred">

    <svg class="small-ticks" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
      <circle class="path  " fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
      <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
        x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
      <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
        x1="95.8" y1="38" x2="34.4" y2="92.2" />
    </svg>

    <p class="error">{{errorMessage}}</p>
  </div>

</div>