@import "../../../styles.scss";


  .small-ticks {
    width:300px;
    margin:0 auto;
  }
.pDiv {
    background: url("../../../assets/sia/images/banners/banner_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 100%;
    background-color: transparent;
    position: relative;
    display: table;
    padding-top: 5rem; 
    padding-bottom: 5rem;
    min-height: 100vh;
  }
  .width-75 {
    width: 75%;
    text-align: center;
  }
  .small-ticks {
    width: 100px;
    display: block;
    margin: 40px auto 0;
  }
  p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
  }
  p.success {
    color: #ffffff;
    font-size:26px;
    font-weight: 400;
  }
  p.error {
    color: #ffffff;
    font-size:26px;
    font-weight: 400;
  }
  .navigation-back {
    color: rgb(255, 255, 255);
    font-size:26px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
  }
  .resend-link {
    color: rgb(255, 255, 255);
    font-size:18px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
  }
  .centered-button {
    text-align: center;
    margin:100px auto;
  }
  .btn-mcolor-green {
    background: #8ac239;
    color: #fff;
  }
  a {
    color: #8ac239;
    cursor: pointer;
  }