:host {

    #in-sendComponent .contents{
        width: 100%;
    }
    #in-sendComponent .send-left{
        max-width: 100% !important;
    }

    #in-sendComponent .left-contents{
        width: 100%;
        padding: 0px;
        border: 1px solid #e4e4e4;
        border-radius: 5px 0px 0px 5px;
        background: #fff;
        margin: 0px;
        height: 100%;
    }

    #in-sendComponent .left-contents h1 {
        color: #000;
        font-size: 52px;
        margin: 10px 0px 10px 0px;
    }
    #in-sendComponent .left-contents .content-items{
        margin: 0 20px;
    }
    #in-sendComponent .left-contents .abtxt {
        color: #000;
        background: #fff;
        border: none;
        font-size: 23px;
        border-radius: 5px;
        height: 50px;
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    #in-sendComponent .left-contents .abtxt::placeholder {
        color: #1c3458;
        opacity: 1;
        font-size: 14px;
    }

    #in-sendComponent .btn-mcolor-green {
        background: #8ac239;
        color: #fff;
        font-size: 16px;
        padding: 5px 20px 5px 20px;
        margin: 10px 0px 10px 10px;
    }
    #in-sendComponent .width-full {
        width: 100%;
        margin: 20px 0px 20px 0px;
    }
    #in-sendComponent .left-contents .stretch {
        align-self: stretch;
    }
    mat-icon {
        cursor: pointer;
     }
}