<div class="page-layout simple">
    <div id="in-login" fxLayout="column" fxLayoutAlign="center center">
        <div class="contents" fxLayout="column" fxLayout.gt-md="row">
            <div class="login-left" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                <div class="left-contents" fxLayout="column" fxLayoutAlign="center left">
                    <div fxLayout="column" fxLayout.gt-md="row">
                        <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                            <h1>My Account</h1>
                        </div>
                    </div>
                    <form [formGroup]="loginForm">
                        <div fxLayout="column" fxLayout.gt-md="row">
                            <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                                <input class="abtxt" type="text" placeholder="EMAIL" name="email" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayout.gt-md="row">
                            <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                                <input class="abtxt" type="password" placeholder="PASSWORD" name="password"
                                    formControlName="password" (keydown)="loginWithEnter($event)" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.pattern">8 to 30 characters must contains a-z,A-Z,1-9
                                        and special character</div>
                                </div>
                            </div>
                        </div>

                        <re-captcha size="invisible" #captchaRef="reCaptcha" (resolved)="submitCaptcha($event)"></re-captcha>
                        <div fxLayout="column" fxLayout.gt-md="row" >
                            <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" >
                                <a mat-raised-button class="btn-mcolor-green width-full" *ngIf="!loader" (click)="login()">Login<mat-icon
                                    class="secondary-text s-20 mat-icon material-icons" style="font-size: 23px; color: #fff;">arrow_forward</mat-icon></a>
                                <a mat-raised-button disabled="disabled" *ngIf="loader" class="btn-mcolor-green width-full">
                                    <mat-spinner strokeWidth="3" [diameter]="36"></mat-spinner></a>    
                            </div>
                        </div>
                    </form>
                    <div class="login-div" fxLayout="column" fxLayout.gt-md="row">
                        <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                            <a routerLink="/signup">
                                <h5><u>Create Account</u></h5>
                            </a>
                            <a routerLink="/forgot-password">
                                <h5><u>Forgot Password</u></h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-right" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                <img src="assets/sia/images/login/login_bg.jpg" />
            </div>
        </div>
    </div>
</div>