<div class="page-layout simple">

    <div id="in-contact" fxLayout="column" fxLayoutAlign="center center">
        <div class="contents" fxLayout="column" fxLayoutAlign="center left">
            <div fxLayout="column" fxLayout.gt-md="row">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <h1>Sign Up</h1>
                    <h2 *ngIf="isExistError" class="user-exist">USER WITH THIS EMAIL ALREADY EXISTS</h2>
                </div>
            </div>
            <form [formGroup]="signupForm">
                <div fxLayout="column" fxLayout.gt-md="row">
                    <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>NAME</p>
                        <input class="abtxt" type="text"  name="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>EMAIL</p>
                        <input class="abtxt" type="text"  name="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
                <div class="pdwinput-div" fxLayout="column" fxLayout.gt-md="row">
                    <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>PASSWORD</p>
                        <input class="abtxt" type="password"  name="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.pattern">8 to 30 characters must contains a-z,A-Z,1-9 and special character</div>
                        </div>
                    </div>
                    <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>CONFIRM PASSWORD</p>
                        <input class="abtxt" type="password"  name="confirmpassword" formControlName="confirmpassword" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"/>
                        <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmpassword.errors.required">Password is required</div>
                            <div *ngIf="f.confirmpassword.errors.pattern">8 to 30 characters must contains a-z,A-Z,1-9 and special character</div>
                            <div *ngIf="f.confirmpassword.errors['compare']">Password and confirmation password don't match</div>
                        </div>
                    </div>
                </div>
                <div class="chk-div" fxLayout="column" fxLayout.gt-md="row">
                    <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <mat-checkbox class="chk-know"  name="agreementterms" formControlName="isAgree"></mat-checkbox>
                        <h6> I certify that I am 18 years of age or older and I accept all <u><a target="_blank" routerLink="/legalnotices">Health Port Legal Notices</a></u> including <u><a target="_blank" routerLink="/legalnotices/privacy_policy">Privacy Policy</a></u>, <u><a target="_blank" routerLink="/legalnotices/terms_service">Terms and Conditions</a></u>, and <u><a target="_blank" routerLink="/legalnotices/terms_use">HIPAA Notice</a></u></h6>
                        <div *ngIf="submitted && !f.isAgree.value" class="invalid-feedback pt-10">
                            <div *ngIf="!f.isAgree.value">In order to register a new account, you must agree to all Health Port Legal notices
                                including Privacy Policy, Terms and Conditions, and HIPAA Notice</div>
                        </div>
                    </div>
                </div>
            </form>
            <re-captcha size="invisible" #captchaRef="reCaptcha" (resolved)="submitCaptcha($event)"></re-captcha>
            <div class="submitbtn-div" fxLayout="column" fxLayout.gt-md="row"  fxLayoutAlign="center center">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                    <button mat-raised-button (click)="signUpValidation()" *ngIf="!loader" class="btn-mcolor-green width-full">CREATE ACCOUNT  <mat-icon class="secondary-text s-16 mat-icon material-icons" style="color: #fff;">arrow_forward</mat-icon></button>
                    <button mat-raised-button *ngIf="loader" class="btn-mcolor-green width-full">
                        <mat-spinner strokeWidth="3" [diameter]="36"></mat-spinner>
                    </button>
                </div>
            </div>
            <div class="login-div" fxLayout="column" fxLayout.gt-md="row">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <h5>Already have an account? <a routerLink="/login">Login</a></h5>
                </div>
            </div>
        </div>
    </div>
    
</div>
