<div class="page-layout simple">

  <div id="in-title" fxLayout="column" fxLayoutAlign="center center">
      <div class="big-title" fxLayout="column" fxLayout.gt-md="row">
          <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
              <h1>Procedure History</h1>
          </div>
      </div>
  </div>
  <div id="in-procedure" fxLayout="column" fxLayoutAlign="center center">
      <div class="contents" fxLayout="column" fxLayoutAlign="center left">
        <form [formGroup]="procedureForm">
            <div formArrayName="procedures">
                <div *ngFor="let item of procedureData.controls; let pointIndex=index" [formGroupName]="pointIndex" fxLayout="column" fxLayout.gt-md="row" [ngClass]="{'customFieldset':isSmallScreen}">
                    <mat-icon *ngIf="isSmallScreen && pointIndex > 0" class="clear_align" (click)="removeItem(pointIndex)">clear</mat-icon>
                    <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>PROCEDURE</p>
                        <input formControlName="procedure" class="abtxt" [ngClass]="{'disable':noKnownProcedures}" type="text"  placeholder="Enter text" [ngClass]="{ 'is-invalid': submitted && item.controls.procedure.errors}"/>
                        <div *ngIf="submitted && item.controls.procedure.errors" class="invalid-feedback">
                            <div *ngIf="item.controls.procedure.errors.required">Required</div>
                        </div>
                    </div>
                    <div class="content-items pos-rel" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>PROCEDURE DATE</p>
                        <input class="abtxt hidden" [owlDateTime]="dt1" formControlName="date">
                        <input class="abtxt" [ngClass]="{'disable':noKnownProcedures}" disabled="disabled" value="{{dateTodateObj(item.controls.date.value)}}" [ngClass]="{ 'is-invalid': submitted && (item.controls.date.errors)}">
                        <div *ngIf="submitted && (item.controls.date.errors)" class="invalid-feedback">
                            <div *ngIf="item.controls.date.errors?.required">Required</div>
                        </div>
                        <span class="icon-item">
                            <mat-icon  matTooltip="Date" class="trigger" [owlDateTimeTrigger]="dt1" matSuffix>date_range</mat-icon>
                            <owl-date-time [pickerType]="'calendar'" #dt1 ></owl-date-time>
                        </span>
                    </div>
                    <div class="content-items" fxFlex="2" fxFlex.gt-xs="2" fxFlex.gt-sm="2" fxLayoutAlign="center end">
                        <mat-icon class="clear-row" [ngClass]="{'none': pointIndex == 0}" (click)="removeItem(pointIndex)">clear</mat-icon>
                    </div>
                </div>
            </div>
        </form>
        <div fxLayout="column" fxLayout.gt-md="row"  fxLayoutAlign="center center">
            <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <button mat-raised-button [disabled]="noKnownProcedures" (click)="addMore()" class="btn-mcolor-green btn-addmore">ADD MORE</button>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-md="row">
            <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                <mat-checkbox class="chk-know" [(ngModel)]="noKnownProcedures" (change)="clearFields()">NO KNOWN PROCEDURES</mat-checkbox>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-md="row"  fxLayoutAlign="center center">
            <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <button mat-raised-button *ngIf="!loader" class="btn-mcolor-green width-full" (click)="documentProcedureHistory()">DOCUMENT PROCEDURE HISTORY</button>
                <button mat-raised-button *ngIf="loader" class="btn-mcolor-green width-full">
                    <mat-spinner strokeWidth="3" [diameter]="36"></mat-spinner>
                </button>
            </div>
        </div>
      </div>
  </div>
</div>
