<div id="in-link" fxLayout="column" fxLayoutAlign="center center">
    <div class="contents" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center middle">
        <div class="link-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
            <a href="https://medium.com/@healthport" target="_blank" ><img class="ling-img" src="assets/sia/images/icons/medium.png" >
            <h1>MEDIUM</h1></a>
        </div>
        <div class="link-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
            <a href="https://www.reddit.com/user/HealthPort" target="_blank" ><img class="ling-img" src="assets/sia/images/icons/reddit.png" >
            <h1>REDDIT</h1></a>
        </div>
        <div class="link-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
            <a href="https://twitter.com/healthportio" target="_blank" ><img class="ling-img" src="assets/sia/images/icons/twitter.png" >
            <h1>TWITTER</h1></a>
        </div>
        <div class="link-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
            <a href="https://github.com/Health-Port" target="_blank" ><img class="ling-img" src="assets/sia/images/icons/github.png" >
            <h1>GIT HUB</h1></a>
        </div>
        <div class="link-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
            <a href="https://t.me/healthport" target="_blank" ><img class="ling-img" src="assets/sia/images/icons/telegram.png" >
            <h1>TELEGRAM</h1></a>
        </div>
        <div class="link-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" style="margin:0px;">
            <a href="https://www.youtube.com/channel/UCKj0LtZoZE6_5ZaU7aMs1vA?sub_confirmation=1" target="_blank" ><img class="ling-img" src="assets/sia/images/icons/youtube.png" >
            <h1>YOU TUBE</h1></a>
        </div>
    </div>
</div>

<div id="in-footer" fxLayout="column" fxLayoutAlign="center center">
    <div class="contents large-600" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="left center">
        <div class="link-item" fxFlex="40" fxFlex.gt-xs="40" fxFlex.gt-sm="40" fxLayoutAlign="left left">
            <a routerLink="/home" style="cursor: pointer;"><img src="assets/sia/images/logos/logo_bt.png" ></a>
        </div>
        <div class="link-url" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
            <a class="link-url-item" routerLink="/home/about">About</a>
            <a class="link-url-item" routerLink="/home/contact">Contact</a>
            <a class="link-url-item" href="https://github.com/Health-Port/White-Paper" target="_blank" >Whitepaper</a>
            <a class="link-url-item" href="https://github.com/Health-Port" target="_blank" >Source Code</a>
            <a class="link-url-item" href="https://medium.com/@healthport" target="_blank" >Blog</a>
        </div>
    </div>
    <div class="contents less-600" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="left center">
            <div class="link-url-less-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left center">
                <a routerLink="/home" style="cursor: pointer;"><img src="assets/sia/images/logos/logo_bt.png" style="margin-bottom: 20px;"></a>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="left center">
            <div class="link-url-less-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left center">
                <a class="link-url-item" routerLink="/home/about">About</a>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="left center">
            <div class="link-url-less-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left center">
                <a class="link-url-item" routerLink="/home/contact">Contact</a>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="left center">
            <div class="link-url-less-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left center">
                <a class="link-url-item" href="https://github.com/Health-Port/White-Paper" target="_blank" >Whitepaper</a>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="left center">
            <div class="link-url-less-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left center">
                <a class="link-url-item" href="https://github.com/Health-Port" target="_blank" >Source Code</a>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="left center">
            <div class="link-url-less-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left center">
                <a class="link-url-item" href="https://medium.com/@healthport" target="_blank" >Blog</a>
            </div>
        </div>
    </div>
    <div class="contents-bt" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="left center">
        <div class="link-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
            <p class="fcopyright">©{{currentYear}} Health Port. All rights reserved. |  <a routerLink="/legalnotices">Legal Notices</a></p>
        </div>
    </div>
</div>