:host {
    #in-link {
        background: #1f1f29;
    }
    #in-link .contents{
        width: 100%;
    }
    #in-link .link-item{
        text-align: center;
        background: #3c3c3c4f;
        height: 200px;
        margin-right: 1px;
    }
    #in-link .link-item:hover{
        cursor: pointer;
    }
    #in-link .link-item a{
        text-decoration: none;
    }
    #in-link .link-item img{
        margin-top: 50px;
    }
    #in-link .link-item h1{
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }

    #in-footer {
        background: #1f1f29;
    }

    #in-footer .contents {
        width: 72.3%;
        border-bottom: 1px dashed #686871;
    }

    #in-footer .contents .link-url{
        padding: 50px 0px 50px 0px;
        text-align: right;
    }

    #in-footer .contents .link-url-item{
        color: #81818e;
        font-size: 16px;
        font-weight: bold;
        text-decoration:none;
        cursor: pointer;
        margin: 0px 0px 0px 60px;
    }
    #in-footer .contents .link-url-item:hover{
        color: #fff;
    }
    #in-footer .less-600{
        display: none !important;
        padding: 20px 0px;
    }
    #in-footer .large-600{
        display: flex !important;
    }
    
    @media (min-width: 1280px) and (max-width: 1440px){
        #in-footer .contents .link-url-item{
            margin: 0px 30px 0px 0px;
        }
        #in-footer .contents .link-item{
            width: 100%;
        }
        #in-footer .contents .link-url{
            width: 100%;
            text-align: left;
            padding: 50px 0px 50px 0px;
        }
        #in-footer .less-600{
            display: none !important;
        }
        #in-footer .large-600{
            display: flex !important;
        }
    }

    @media (min-width: 650px) and (max-width: 1280px){
        #in-footer .contents .link-url-item{
            margin: 0px 30px 0px 0px;
        }
        #in-footer .contents .link-item{
            width: 100%;
            margin: 40px 0px;
        }
        #in-footer .contents .link-url{
            width: 100%;
            text-align: left;
            padding: 0px 0px 50px 0px;
        }
        #in-footer .less-600{
            display: none !important;
        }
        #in-footer .large-600{
            display: flex !important;
        }
    }

    @media (max-width: 650px){
        #in-footer .contents .link-url-item{
            margin: 0px 30px 0px 0px;
        }
        #in-footer .contents .link-item{
            width: 100%;
            margin: 40px 0px;
        }
        #in-footer .contents .link-url{
            width: 100%;
            text-align: left;
            padding: 0px 0px 50px 0px;
        }
        #in-footer .less-600{
            display: block !important;
        }
        #in-footer .large-600{
            display: none !important;
        }
    }

    #in-footer .link-url-less-item{
        width: 100%;
        margin: 5px 0px;
    }

    #in-footer .contents .actived{
        color: #fff;
    }

    #in-footer .contents-bt {
        width: 72.3%;
        padding: 30px;
    }
    #in-footer .contents-bt .fcopyright {
        color: #88888c;
        font-size: 15px;
    }
    #in-footer .contents-bt .fcopyright a{
        color: #88888c;
        font-size: 15px;
        cursor: pointer;
        text-decoration: none;
    }
}