@import 'src/@fuse/scss/fuse';

fuse-navigation {
    display: flex;
    flex: 1 0 auto;

    > .nav {
    	margin: auto auto auto 13.86%;
        padding: 0;
        width: 100%;

        .nav-menu-show{
	    	display: none;
	    	margin-right: 40px;
	    }
	    .nav-item {
	    	display: block;
	    }
	    .nav-btn-show{
	    	display: block;
	    }
	    .logo-frame {
	        height: 126px;
	        margin-right: 4%;
	        width: auto;
	    }
	    .logo-frame:hover {
	    	cursor: pointer;
	    }

        @media (min-width: 1660px) {
	      	margin: auto auto auto 13.86%;
	      	.logo-frame {
	      		width: auto;
	      	}
	    }
        @media (min-width: 1440px) and (max-width: 1660px){
	      	margin: auto auto auto 10%;
	      	.logo-frame {
	      		width: auto;
	      	}
	    }
	    @media (min-width: 1280px) and (max-width: 1440px){
	      	margin: auto auto auto 8%;
	      	.logo-frame {
	      		width: auto;
	      	}
	    }
	    @media (min-width: 1024px) and (max-width: 1280px){
	      	margin: auto auto auto 2%;
	      	.logo-frame {
	      		width: 20%;
			}
			.btn-mcolor-cray.btn-display {
				margin: auto;
			}
	    }
	    @media (min-width: 768px) and (max-width: 1024px){
	      	margin: auto auto auto 13.86%;
	      	.logo-frame {
	      		width: auto;
	      	}
	      	.nav-menu-show{
		    	display: block;
		    }
		    .nav-item {
		    	display: none;
		    }
		    .nav-btn-show{
		    	display: none;
		    }
		    .logo-frame {
		        width: 100%;
		    }
	    }
	    @media (min-width: 550px) and (max-width: 768px){
	      	margin: auto auto auto 13.86%;
	      	.logo-frame {
	      		width: auto;
	      	}
	      	.nav-menu-show{
		    	display: block;
		    }
		    .nav-item {
		    	display: none;
		    }
		    .nav-btn-show{
		    	display: none;
		    }
		    .logo-frame {
		        width: 100%;
		    }
	    }

	    @media (max-width: 550px){
	      	margin: auto auto auto 4%;
	      	.logo-frame {
	      		width: auto;
	      	}
	      	.nav-menu-show{
		    	display: block;
		    }
		    .nav-item {
		    	display: none;
		    }
		    .nav-btn-show{
		    	display: none;
		    }
		    .logo-frame {
		        width: 100%;
		    }
	    }

	    .nav-menu-icon{
	    	font-size: 70px;
	    	color: #8ac239;
	    	width: 70px;
	    }
	    .nav-menu-btn{
	    	width: 70px;
	    	height: 70px;
	    }

	    .logo-button {
	        height: 126px;
	    }

	    .logo-helper {
	        display: inline-block;
		    height: 100%;
		    vertical-align: middle;
	    }

	    .logo-img {
	        vertical-align: middle;
	        max-height: 60%;
	    }
	    .btn-mcolor-green {
	    	background: #8ac239;
	    	color: #fff;
	    	font-size: 16px;
	    	padding: 5px 20px 5px 20px;
    		margin: 10px;
    		font-family: "ProximaNovaSoft-Bold";
    		letter-spacing: 1.5px;
	    }

	    .btn-mcolor-cray {
	    	background: #00b0e0;
	    	color: #fff;
	    	font-size: 16px;
	    	padding: 5px 20px 5px 20px;
    		margin: 10px;
    		font-family: "ProximaNovaSoft-Bold";
    		letter-spacing: 1.5px;
	    }
    }
}
