<div class="page-layout simple">

    <div id="home">
        <div class="home-content">
            <div class="row contents">
                <div class="home-content-left">
                    <h1 class="banner-left-text">
                        Patient Controlled<br>
                        Electronic Health Records
                    </h1>

                    <div>
                        <button (click)="scroll(target_health)" mat-raised-button class="btn-banner btn-gray">LEARN
                            MORE</button>
                        <a href="https://github.com/Health-Port/White-Paper" mat-raised-button class="btn-banner btn-trans">WHITE
                            PAPER</a>
                    </div>
                </div>

                <div class="home-image-right">
                    <img src="assets/sia/images/banners/banner_right.png" />
                </div>
            </div>
        </div> <!-- end home-content -->
        <div class="home-mobile" fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center">
                <div class="home-mobile-title" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                    <h1 class="banner-left-text mobile-title">
                        Patient Controlled<br>
                        Electronic Health Records
                    </h1>
                </div>
            </div>
            <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center">
                <div class="home-mobile-title-img" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                    <img src="assets/sia/images/banners/banner_right.png" />
                </div>
            </div>
            <div class="home-mobile-title-btn-row1" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center">
                <div class="home-mobile-title-btn" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                    <button mat-raised-button (click)="scroll(target_health)" class="btn-banner btn-gray">LEARN MORE</button>
                </div>
            </div>
            <div class="home-mobile-title-btn-row2" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center">
                <div class="home-mobile-title-btn" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                    <button (click)="moveToWhitepaper()" mat-raised-button class="btn-banner btn-trans">WHITE PAPER
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!--  will show again in the future with updated logos based on media coverage we receive -->
    <div *ngIf="false" id="in-press" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayout.gt-md="row">
            <div class="title" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                IN THE PRESS
            </div>
        </div>
        <div class="mark-img" fxLayout.gt-md="row" fxLayoutAlign="center center">
            <div class="mark-img-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <img src="assets/sia/images/marks/forbes.jpg" />
            </div>
            <div class="mark-img-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <img src="assets/sia/images/marks/coindesk.jpg" />
            </div>
            <div class="mark-img-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <img src="assets/sia/images/marks/IBT.jpg" />
            </div>
            <div class="mark-img-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <img src="assets/sia/images/marks/BND.jpg" />
            </div>
            <div class="mark-img-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <img src="assets/sia/images/marks/VB.jpg" />
            </div>
        </div>
        <div class="mark-img-mobile" fxLayout.gt-md="row" fxLayoutAlign="center center">
            <div class="mark-img-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <img src="assets/sia/images/marks/forbes.jpg" />
            </div>
            <div class="mark-img-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <img src="assets/sia/images/marks/coindesk.jpg" />
            </div>
        </div>
        <div class="mark-img-mobile" fxLayout.gt-md="row" fxLayoutAlign="center center">
            <div class="mark-img-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <img src="assets/sia/images/marks/IBT.jpg" />
            </div>
            <div class="mark-img-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <img src="assets/sia/images/marks/BND.jpg" />
            </div>
        </div>

    </div>

    <div id="in-help" fxLayout="column" fxLayoutAlign="top left">
        <div class="help-row" fxLayout="column" fxLayout.gt-md="row">
            <div class="help-left" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                <h1>Who We Help</h1>
                <p>Health Port is a patient-centric healthcare information system that will bring patients a portable,
                    interoperable, decentralized, integrated system for managing their personal electronic health
                    records. </p>
                <p>Patients will control access to their records via private key and will be the ultimate gatekeeper to
                    their medical data via blockchain-based storage. As a result, private health data is secured and
                    protected from data breaches that have been commonplace over recent years. Health Port is a HIPAA
                    compliant, borderless, open platform that will put the power to control health data into patient's
                    hand. </p>
            </div>
            <div class="help-right" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                <div class="user-info" fxLayout="column" fxLayoutAlign="top top" fxLayout.gt-sm="row"
                    fxLayoutAlign.gt-sm="start top">
                    <div class="help-icon-img"><img class="profile-image avatar huge" src="assets/sia/images/icons/patients.png"></div>
                    <div class="name">
                        <h1>Patients</h1>
                        <p>Instantly access your health information and improve the quality of medical care you
                            receive. You are in full control of your health record and who may access it.</p>
                    </div>
                </div>
                <div class="user-info" fxLayout="column" fxLayoutAlign="top top" fxLayout.gt-sm="row"
                    fxLayoutAlign.gt-sm="start top">
                    <div class="help-icon-img"><img class="profile-image avatar huge" src="assets/sia/images/icons/provider.png"></div>
                    <div class="name">
                        <h1>Providers</h1>
                        <p>Via patient, gain instant access to relevant medical history regardless of where previous
                            care was provided.</p>
                    </div>
                </div>
                <div class="user-info" fxLayout="column" fxLayoutAlign="top top" fxLayout.gt-sm="row"
                    fxLayoutAlign.gt-sm="start top">
                    <div class="help-icon-img"><img class="profile-image avatar huge" src="assets/sia/images/icons/health.png"></div>
                    <div class="name">
                        <h1>Healthcare Organizations</h1>
                        <p>Improve patient outcomes and the ability of providers to provide quality care.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="in-health" fxLayout="column" fxLayoutAlign="center left" #target_health>
        <img class="health-woman" src="assets/sia/images/healths/health_bottom.jpg">
        <div class="title" fxLayout="column" fxLayout.gt-md="row">
            <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                Why Health Port?
            </div>
        </div>
        <div class="contents large-768" fxLayout="column" fxLayoutAlign="left left" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="left left">
            <div class="img-link" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left left">
                <hr><img src="assets/sia/images/icons/improved.png">
            </div>
            <div class="contents-title" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left left">
                <h1>Improved Patient Care Outcomes</h1>
            </div>
        </div>
        <div class="contents less-768" fxLayout="column" fxLayoutAlign="left left" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="left left">
            <div class="img-link-mobile" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left left">
                <img src="assets/sia/images/icons/improved.png">
                <div class="title-mobile">
                    <h1>Improved Patient Care Outcomes</h1>
                </div>
            </div>
        </div>
        <div class="contents" fxLayout="column" fxLayoutAlign="left left" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="left left">
            <div class="contents-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left left">
                <p>
                    Health Port leverages current patient data being generated through software that is already
                    implemented by healthcare providers, giving patients the power to be the gatekeeper of their own
                    electronic health record (EHR). Through Health Port, patient's own the control and storage of
                    their electronic health record via decentralized storage on the blockchain. The result is a
                    consolidated and integrated medical record that is always available with access controlled by
                    the patient. This fundamental shift will extract immense value from currently implemented EHR
                    systems, ultimately benefiting patient care through improved outcomes. Additionally, providers
                    will be left with a more accurate picture of a specific patient's health, providing them with
                    the comprehensive information they need in order to provide better care to patients.
                </p>
            </div>
        </div>
        <div class="contents large-768" fxLayout="column" fxLayoutAlign="left left" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="left left">
            <div class="img-link" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left left">
                <img src="assets/sia/images/icons/disruptive.png">
            </div>
            <div class="contents-title" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left left">
                <h1>Disruptive Innovation</h1>
            </div>
        </div>
        <div class="contents less-768" fxLayout="column" fxLayoutAlign="left left" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="left left">
            <div class="img-link-mobile" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left left">
                <img src="assets/sia/images/icons/disruptive.png">
                <div class="title-mobile">
                    <h1>Disruptive Innovation</h1>
                </div>
            </div>
        </div>
        <div class="contents" fxLayout="column" fxLayoutAlign="left left" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="left left">
            <div class="contents-item" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="left left">
                <p>With vast amounts of data already being captured in existing EHR implementations, the timing is
                    optimal for leveraging and consolidating existing data for patient benefit. Health Port will
                    disrupt the global EHR market by removing the barriers currently in place by intermediaries,
                    ultimately allowing patients open access to their complete personal health records.</p>
            </div>
        </div>
    </div>

    <div id="in-block" fxLayout="column" fxLayoutAlign="center center">
        <div class="big-title" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center">
            <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                Leveraging The Blockchain To Improve Patient Care
            </div>
        </div>
        <div class="small-title" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center">
            <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxLayoutAlign="center center">
                <p>Health Port enables patients to take control of their healthcare journey through personal data
                    control.</p>
            </div>
        </div>
        <div class="contents" fxLayout="column" fxLayoutAlign="center left">
            <div class="" fxLayout="column" fxLayout.gt-md="row">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <img src="assets/sia/images/icons/data-access.png">
                    <h1>Data Access</h1>
                    <p>Patient controlled electronic <br />health record access.</p>
                </div>
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <img src="assets/sia/images/icons/blockchain.png">
                    <h1>Blockchain Technology</h1>
                    <p>Secure Electronic Health Record (EHR) <br />data storage via blockchain technology.</p>
                </div>
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <img src="assets/sia/images/icons/real-time.png">
                    <h1>Real Time</h1>
                    <p>Consolidated health records available <br />anytime, anywhere.</p>
                </div>
            </div>
            <div class="" fxLayout="column" fxLayout.gt-md="row">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <img src="assets/sia/images/icons/api.png">
                    <h1>HIPAA Compliant</h1>
                    <p>HIPAA Compliant <br />health record storage and access.</p>
                </div>
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <img src="assets/sia/images/icons/hipaa.png">
                    <h1>API's</h1>
                    <p>An ecosystem for development of <br />applications that enhance patient care.</p>
                </div>
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <img src="assets/sia/images/icons/enterprise.png">
                    <h1>Enterprise</h1>
                    <p>Improve the quality of care that your <br />patient population receives.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="in-contact" fxLayout="column" fxLayoutAlign="center center">
        <div class="title" fxLayout="column" fxLayout.gt-md="row">
            <div fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                Contact Us
            </div>
        </div>
        <div class="contents" fxLayout="column" fxLayoutAlign="center left">
            <form [formGroup]="contactForm">
                <div fxLayout="column" fxLayout.gt-md="row">
                    <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>First Name</p>
                        <input type="text" name="fname" pattern="^[a-zA-Z]{2,20}$" formControlName="fname" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" />
                        <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                            <div *ngIf="f.fname.errors.required">Required</div>
                            <div *ngIf="f.fname.errors.pattern">Alphabets from 2-20 characters length are allowed</div>
                        </div>
                    </div>
                    <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>Last Name</p>
                        <input type="text" name="lname" pattern="^[a-zA-Z]{2,20}$" formControlName="lname" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" />
                        <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                            <div *ngIf="f.lname.errors.required">Required</div>
                            <div *ngIf="f.lname.errors.pattern">Alphabets from 2-20 characters length are allowed</div>
                        </div>
                    </div>
                </div>
                <div fxLayout="column" fxLayout.gt-md="row">
                    <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>Email</p>
                        <input type="text" name="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>Phone</p>
                        <input type="text" name="phone" pattern="^[0-9 ()+-]+$" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.pattern">Only numbers and '+' allowed</div>
                        </div>
                    </div>
                </div>
                <div fxLayout="column" fxLayout.gt-md="row">
                    <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                        <p>Message</p>
                        <textarea formControlName="message" [attr.maxLength]="1024" #message
                        [ngClass]="{ 'is-invalid': submitted && f.message.errors }" ></textarea>
                        <small *ngIf="message.value.length > 0" class="form-text text-muted"><code>{{message.value.length}}</code> of <code>1024</code> characters</small>
                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                            <div *ngIf="f.message.errors.required">Required</div>
                        </div>
                    </div>
                </div>
            </form>
            <re-captcha size="invisible" #captchaRef="reCaptcha" (resolved)="submitCaptcha($event)"></re-captcha>
            <div fxLayout="column" fxLayout.gt-md="row" style="text-align:right;">
                <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                    <button mat-raised-button class="btn-mcolor-green" *ngIf="!loader" (click)="contactUs()">SUBMIT</button>
                    <button mat-raised-button class="btn-mcolor-green" *ngIf="loader">
                        <mat-spinner strokeWidth="3" [diameter]="36"></mat-spinner>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>