<div fxLayout="row-reverse" fxLayoutAlign="left left">
  <mat-icon (click)="close()">close</mat-icon>
</div>

<div class="page-layout simple">
    <div id="in-detailsComponent" fxLayout="column" fxLayoutAlign="center center">
        <div class="contents" fxLayout="column" fxLayout.gt-md="row">
            <div class="send-left" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                <div class="left-contents" fxLayout="column" fxLayoutAlign="center left">
                    <div fxLayout="column" fxLayout.gt-md="row">
                        <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                            <h1>Transaction Detail</h1>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayout.gt-md="row">
                        <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                            <p>ID: <a href="https://tronscan.org/#/transaction/{{item.trx_id}}" target="_blank">{{item.trx_id | slice:0:18}}&#8230;</a></p>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayout.gt-md="row">
                        <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                            <p>Type: {{item.type}}</p>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayout.gt-md="row">
                        <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                            <p>Date: {{item.date_time}}</p>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayout.gt-md="row">
                        <div class="content-items" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100">
                            <p>Note: {{item.note == ""? 'N/A' : item.note}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
