:host {

    #in-detailsComponent .contents{
        width: 100%;
    }
    #in-detailsComponent .send-left{
        max-width: 100% !important;
    }

    #in-detailsComponent .left-contents{
        width: 100%;
        padding: 0px;
        border: 1px solid #e4e4e4;
        border-radius: 5px 0px 0px 5px;
        background: #fff;
        margin: 0px;
        height: 100%;
    }

    #in-detailsComponent .left-contents h1 {
        color: #000;
        font-size: 52px;
        margin: 10px 0px 10px 0px;
    }
    #in-detailsComponent .left-contents .content-items{
        margin: 0 20px;
    }

    #in-detailsComponent .left-contents .content-items p{
        font-size: 15px;
        color: #171717;
        font-weight: bold;
    }
    
    #in-detailsComponent .width-full {
        width: 100%;
        margin: 20px 0px 20px 0px;
    }
    mat-icon {
        cursor: pointer;
    }
    @media (max-width: 768px) {
        #in-detailsComponent .left-contents h1 {
            font-size: 32px;
        }
        #in-detailsComponent .left-contents .content-items p{
            font-size: 14px;
        }
    }
    @media (min-width: 769px) and (max-width: 1280px) {
        #in-detailsComponent .left-contents h1 {
            font-size: 42px;
        }
        #in-detailsComponent .left-contents .content-items p{
            font-size: 16px;
        }
    }
}